/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


.slider-box .slick-dots { top:100% } .slider-box .slick-dots li { width:22% }

@layer components {
    .custom-gradient-text {
      @apply  sm:text-3xl text-2xl lg:text-4xl w-fit mx-auto font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-gradientBlue via-gradientGreen to-gradientBlue;
    }
    .custom-sub-heading{
      @apply lg:text-xl sm:text-lg font-semibold
    }
}

.body{
  font-family: "Raleway", sans-serif;
  font-display: swap;
}

.move-inside{
  bottom: 0!important;
}
.dark .slick-dots li.slick-active button::before{
  color: '#02194A';  
  color: white;
}

.dark .slick-dots li button::before{
  color: gray;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.markdown>* {
  all: revert;
  font-family: "Raleway", system-ui;
}

.markdown li{
padding-bottom: 4px;
}

.markdown-agiliti ul{
  all: revert;
margin-left: -20px;
}

.markdown-services-animated-card>* {
  all: revert;
  font-family: "Raleway", system-ui;
}
.markdown-services-animated-card ul{
  padding-left: 20px;
  list-style-image: url('./assets/Tick Icon.svg');
}

.grecaptcha-badge {
  opacity: 0.5;
  pointer-events: none;
}

.phone-container{
  margin-top: -9.5px !important;
}

.phone-input{
  border: none!important; 
  border-bottom: 0.5px solid #0e0e0e!important;
  width: 100%!important;
  padding: 0px 10px;
  outline: none; 
  font-size: 16px!important;
  background-color: transparent!important;
  border-radius: 0!important;
}
.phone-input-dark{
  border: none!important; 
  border-bottom: 0.5px solid #ffff!important;
  width: 100%!important;
  padding: 0px 10px;
  outline: none; 
  font-size: 16px!important;
  background-color: transparent!important;
  border-radius: 0!important;
}
.phone-button{
  background-color: transparent!important;
  border: none!important;

}
.phone-button-dark{
  background-color: transparent!important;
  border: none!important;

}
.phone-dropdown{
  border: none!important;

}
.phone-dropdown-dark{
  background-color: black!important;
  border: 1px solid white!important;
}

.phone-search{
  border: none!important;
}

.phone-search-dark{
  background-color: black!important;
  border: 1px solid white!important;
  color: black!important;
}

.phone-input:focus{
  border-bottom: 0.5px solid #02194a!important;
}
.phone-input-dark:focus{
  border-color:#60a5fa!important;
  transition: all .2s linear;
  transform:border-color;
}