/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


.slider-box .slick-dots { top:100% } .slider-box .slick-dots li { width:22% }

@layer components {
    .custom-gradient-text {
      @apply  sm:text-3xl text-2xl lg:text-4xl w-fit mx-auto font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-gradientBlue via-gradientGreen to-gradientBlue;
    }
    .custom-sub-heading{
      @apply lg:text-xl sm:text-lg font-semibold
    }
}

/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://fonts.gstatic.com/s/montserrat/v25/KFOmCnqEu92Fr1Me5Q.ttf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://fonts.gstatic.com/s/raleway/v23/KFOlCnqEu92Fr1MmEU.ttf') format('woff2');
  font-display: swap;
} */

.body{
  font-family: "Raleway", sans-serif;
}

.move-inside{
  bottom: 0!important;
}
.dark .slick-dots li.slick-active button::before{
  color: '#02194A';  
  color: white;
}

.dark .slick-dots li button::before{
  color: gray;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.markdown>* {
  all: revert;
  font-family: "Raleway", system-ui;
}

.markdown li{
padding-bottom: 4px;
}

.markdown-agiliti ul{
  all: revert;
margin-left: -20px;
}

.markdown-services-animated-card>* {
  all: revert;
  font-family: "Raleway", system-ui;
}
.markdown-services-animated-card ul{
  padding-left: 20px;
  list-style-image: url('./assets/Tick Icon.svg');
}

.grecaptcha-badge {
  opacity: 0.5;
  pointer-events: none;
}

.job-description ul{
  list-style-type: disc;
  margin-left: 25px;
}