@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.slider-box .slick-dots { top:100% } .slider-box .slick-dots li { width:22% }

@layer components {
    .custom-gradient-text {
      @apply  text-2xl lg:text-3xl xl:text-4xl w-fit mx-auto font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-gradientBlue via-gradientGreen to-gradientBlue;
    }
}
.move-inside{
  bottom: 0!important;
}
.dark .slick-dots li.slick-active button::before{
  color: '#02194A';  
  color: white;
}

.dark .slick-dots li button::before{
  color: gray;
}


